
/**
 * Content sets
 */
.personalize-admin-section {
  width: 100%;
}

.personalize-admin-content {
  padding: 0 1em 1em 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: #000;
}

.personalize-admin-content.personalize-collapsed {
  background-color: inherit;
  border: 1px solid transparent;
  -webkit-transition: all .5s ease-in-out; /* added transitions -KO */
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;  
  transition: all .5s ease-in-out;
}
.personalize-admin-content.personalize-collapsed:hover,
.personalize-admin-content.personalize-collapsed:active {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: all .5s ease-in-out; /* added transitions -KO */
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;  
  transition: all .5s ease-in-out;
}

/* Avoid boxes within boxes */
.personalize-admin-content fieldset,
.personalize-admin-content .personalize-admin-content {
  border: none;
}

.personalize-admin-content-title,
.personalize-admin-content-item-title {
  margin: 0;
}

.personalize-admin-content-title {
  display: inline-block;
  font-size: 1.4em;
  margin-right: 0.4em; /* LTR */
  vertical-align: middle; /* added this attribute -KO */
}

.personalize-content-set-item-title {
  font-size: 1em;
}

/* smaller button for header -KO */
.personalize-admin-content-title-suffix input[type="submit"] {
  padding-top: .4em;
  padding-bottom: .4em;
}

#edit-option-sets-header > a { 
  display: inline-block;
  vertical-align: middle;
}

.personalize-content-set-title {
  display: inline-block;
  margin-right: 1em; /* LTR */
}

.personalize-content-set-item {
  border-top: 1px solid #ccc;
  margin-bottom: 1em;
  padding-top: 1em;
}

.personalize-content-set-item:first-child {
  border-top: none;
}

.personalize-content-set-item:last-child {
  margin-bottom: 0;
}

.personalize-variation-count {
  margin-left: 1em; /* LTR */
}

.personalize-admin-content-title-secondary {
    display: inline;
    margin-left: 25px;
}

.personalize-admin-content-collapsed-wrapper {
  margin: 0 0 2em 0;
}

.personalize-admin-content-collapsed-wrapper:first-child {
  margin-top: 1em;
}

.personalize-admin-content-content,
.personalize-admin-content-collapsed {
  padding-left: 0; 
}

.personalize-admin-content-collapsed {
  margin-top: 1em;
  height: 0;
  overflow: hidden;
}

.personalize-collapsed .personalize-admin-content-collapsed {
  height: auto;
}

.personalize-admin-content-collapsed .personalize-admin-enumerated-item {
  font-size: 1.2em;
}

#personalize-agent-option-sets-form .personalize-ctools-dropdown,
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-link-wrapper,
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper {
  display: inline-block;
}

#personalize-agent-option-sets-form .personalize-ctools-dropdown {
  margin-right: 15px;
}
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper {
  position: relative;
  display: inline-block;
}
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper .ctools-dropdown-container {
  left: -6em;
}

html.js div.ctools-dropdown div.ctools-dropdown-container {
  border: 1px solid #ccc;
  margin: 1em 1px 0 0;
  padding: .25em;
  box-shadow: 0px 3px 3px #ddd;
}
html.js .ctools-dropdown-hover {
  background-color: #fff;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li a {
  text-decoration: none;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li a:hover {
  text-decoration: underline;
}

/* remove c-tools icon */
html.js .personalize-admin-content-title-suffix div.ctools-dropdown a.ctools-dropdown-text-link {
  background: none;
  padding-left: 0px;
}

/* use Acquia Ember link colors for all header links and link look-alikes. */
.personalize-admin-content-title-suffix a {
  color: #2fa6e5;
}
.personalize-admin-content-title-suffix a:hover,
.personalize-admin-content-title-suffix a:active {
  color: #007ec0;
}
#personalize-agent-option-sets-form .personalize-content-variation div.personalize-admin-enumerated-item {
  color: #555;
}
/* Link look alike styling for add a goal button */
.personalize-add-link-prefix:after {
  content: '+';
  color: #2fa6e5;
}
button.personalize-add-link,
input[type="submit"].personalize-add-link {
  text-decoration: none;
  color: #2fa6e5;
  font-weight: normal;
}
button.personalize-add-link:hover,
input[type="submit"].personalize-add-link:hover {
  text-decoration: underline;
  color: #007ec0;
}
#personalize-agent-option-sets-form .personalize-option-header {
  color: #555;
}

@media all and (min-width: 699px) {
  .personalize-admin-content-content, .personalize-admin-content-collapsed {
    padding-left: 3em; /* LTR */
  }
}
