/**
 * @file
 * Styles for Personalize administrative interfaces.
 */

/**
 * Content sets
 */
.personalize-content-set-title {
  margin-right: auto; /* RTL */
  margin-left: 1em; /* RTL */
}

.personalize-admin-content-title {
  margin-left: 0.4em; /* RTL */
}

.personalize-admin-optional-trigger {
  margin-right: 0.4em; /* RTL */
}

.personalize-admin-section .personalize-collapse-edit {
  margin-left: 5px; /* RTL */
}

.personalize-admin-content-content,
.personalize-admin-content-collapsed {
  padding-right: 3em; /* RTL */
}

#personalize-agent-option-sets-form .personalize-option-header {
  margin-right: 1em; /* RTL */
}

