/**
 * @file
 * Styles for Personalize administrative interfaces.
 */

/** 
 * All 
*/
.personalize-goal .form-item label,
.personalize-admin-content .fieldset-wrapper .form-item label {
  margin: 0;
}

/**
 * Goals
 */
.personalize-goals-wrapper {
  margin-bottom: 1.4em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;    
  transition: all 1s ease-in-out;
}

.personalize-goal .form-item {
  display: inline-block;
  margin-right: .25em;
  padding: 0;
  vertical-align: bottom;
}

.personalize-goal-triggers {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 9px;
}

/* For submit buttons to appear as add action link.
* @todo would much rather use action-link style from theme instead but it is
* specific to "ul.action-links a" selector in Ember and we need a submit button.
*/
button.personalize-add-link,
input[type="submit"].personalize-add-link {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
button.personalize-add-link:hover,
input[type="submit"].personalize-add-link:hover {
  background: transparent;
}
.personalize-admin-content-header input.personalize-add-link {
  font-size: inherit;
}
/* The + before the Add Goals button */
/* Link look alike styling for add a goal button */
.personalize-add-link-prefix:after {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: .2em;
}
/* Align with preview link within content variation sets */
.personalize-option-set-winner button.personalize-add-link {
  height: 1.41421em;
  line-height: 1.41421em;
  font-weight: 200;
}

/* smaller to align with text fields.
 * @todo would much rather have these simply be "x" icons -KO. 
*/
button.personalize-delete-goal, button.personalize-delete-context {
  margin-bottom: 10px;
}
.personalize-content-variation .personalize-admin-enumerated-item+.personalize-option-set-winner {
  border-left: 1px solid #000;
  padding-left: .5em;
  margin-left: .5em;
}

/* Make the remove context buttons line up with the form elements */
div.personalize-variation-row div.personalize-remove-context {
  padding-top: 1.4em;
}

/* Seven positions the fieldset title absolutely */
.fieldset-legend.personalize-admin-content-title {
  position: relative;;
}

/* Tighten up the rest of the fieldsets */
.fieldset-legend.personalize-admin-content-title {
  margin-top: 0;
}
.personalize-admin-content fieldset {
  padding-top: 1em;
  margin: .5em 0;
  min-height: 2em;
}
.personalize-admin-content > fieldset > legend {
  padding: 1em 1em 0 1em;
}
.personalize-admin-content fieldset legend,
.personalize-admin-content fieldset .fieldset-legend {
  position: relative;
}

/** Trick to allow fieldset not to grow beyond 100% when contents are wide. */
#personalize-agent-option-sets-form fieldset.personalize-option-set {
  min-width: 0;
  display: table-cell;
}

#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend {
  min-height: 1em;
}
#personalize-agent-goals-form fieldset.personalize-goal legend .fieldset-title div.personalize-admin-enumerated-item,
#personalize-agent-option-sets-form fieldset.personalize-option-set legend .fieldset-title div.personalize-admin-enumerated-item {
  display: inline;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set legend .fieldset-title div.personalize-admin-enumerated-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#personalize-agent-option-sets-form .personalize-content-variation div.personalize-admin-enumerated-item .personalize-content-variation-control,
#personalize-agent-option-sets-form .personalize-content-variation div.personalize-admin-enumerated-item .personalize-content-variation-winner {
  display: inline-block;
  margin-left: 1.5em;
  font-weight: normal;
  background-image: url('../images/check_8AC340.png');
  background-image: url('../images/check_8AC340.svg'), none;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 22px;
}
#personalize-agent-option-sets-form .personalize-option-header-item,
#personalize-agent-option-sets-form .personalize-stat {
  border-right: 1px solid;
  margin-right: .5em;
  padding-right: .5em;
  font-weight: normal;
  text-transform: lowercase;
}
#personalize-agent-option-sets-form .personalize-option-header-item:last-child {
  border-right: none;
}
.personalize-content-variation .personalize-admin-enumerated-item {
  font-weight: bold;
}
.personalize-content-variation .personalize-admin-enumerated-item a {
  font-weight: normal;
}
.personalize-variation-row {
  clear: both;
  margin-bottom: .5em;
  width: 100%;
  display: inline-block;
}
.personalize-variation-row div {
  float: left;
}

.personalize-variation-row div.personalize-target-wrapper {
    clear: both;
}
div.personalize-target-wrapper div.form-item {
    padding: 0 10px 0 0;
}

.personalize-admin-content > fieldset > legend {
  font-size: 1em;
}
.personalize-admin-content-content .personalize-admin-content-title .personalize-admin-enumerated-item,
.personalize-admin-content-content fieldset .fieldset-title .personalize-admin-enumerated-item {
  display: block; 
}

#personalize-agent-page-messages .personalize-alert {
  font-weight: bold;
  color: red;
}

.personalize-admin-optional {
  color: #999;
}
.personalize-admin-optional-trigger {
  margin-left: 0.4em;
}

html.js .personalize-admin-content .collapsible .fieldset-legend,
.personalize-admin-content fieldset legend,
.personalize-admin-content fieldset .fieldset-legend,
.personalize-admin-content-title-suffix,
.personalize-admin-content-title-suffix div,
#personalize-agent-form #personalize-status-toggle-form,
#personalize-agent-form #personalize-status-toggle-form div {
  display: inline-block;
}
.personalize-admin-content-title-suffix {
  vertical-align: middle;
}
.personalize-admin-content-title-suffix .personalize-admin-content-header > * {
  float: left;
}
.personalize-admin-content-title-suffix input {
  margin-top: 0;
  margin-bottom: 0;
}
.personalize-admin-content-title-suffix,
.personalize-admin-content-title {
  height: 2.2em;
  line-height: 2.2em;
  vertical-align: middle;
}
#personalize-agent-option-sets-form .personalize-option-header {
  margin-left: 1em; /* LTR */
}

/* MVT Form section */
.personalize-mvt-edit {
  font-size: 1.25em;
}
.personalize-mvt-edit .personalize-admin-enumerated-item {
  display: inline-block;
}

/* Configuration settings page */
.personalize-admin-cache-settings .form-item,
.personalize-admin-cache-settings .form-item label {
  display: inline-block;
}

.personalize-status-change-select {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}