/**
 * @file
 * Styles for integrating Personalize with the Navbar module (version > 1.5).
 */
/**
 * @file
 * Styles for integrating Personalize with the Navbar module.
 */
/**
 * Personalize top-level icon.
 */
.navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.svg");
}

.no-svg .navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.png");
}

.navbar-bar .navbar-icon-acquia-lift:active:before, .navbar-bar .navbar-icon-acquia-lift.navbar-active:before {
  background-image: url("../images/ffffff/rocket.svg");
}

.no-svg .navbar-bar .navbar-icon-acquia-lift:active:before, .no-svg .navbar-bar .navbar-icon-acquia-lift.navbar-active:before {
  background-image: url("../images/ffffff/rocket.png");
}

/**
 * Personalize second-level icon.
 */
.navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.svg");
}

.no-svg .navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.png");
}

#navbar-administration .acquia-lift-active {
  font-weight: bold;
}
#navbar-administration .acquia-lift-active .acquia-lift-campaign {
  font-weight: bold;
}
#navbar-administration .acquia-lift-active.acquia-lift-menu-link {
  font-weight: normal;
}
#navbar-administration .acquia-lift-campaigns .navbar-box {
  display: inline-block;
  width: 100%;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-campaigns .navbar-box .acquia-lift-campaign {
  margin-right: 0;
}
#navbar-administration.navbar-oriented .acquia-lift-campaign {
  padding-right: 0;
  /* LTR */
}

/* Menu wrapper container */
#navbar-administration .navbar-tray-vertical .navbar-twisty > .menu-wrapper {
  display: none;
}
#navbar-administration .navbar-tray-vertical .navbar-twisty.open > .menu-wrapper {
  display: block;
}
#navbar-administration .acquia-lift-menu-item {
  margin-top: .88em;
  margin-bottom: .88em;
}
#navbar-administration .navbar-level-1 .menu-wrapper > .navbar-menu *:not(select),
#navbar-administration .navbar-level-1 .navbar-menu *:not(select) {
  line-height: 1.5;
}

/* Horizontal dropdowns */
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-menu li:hover ul {
  display: block;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > ul, #navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > .menu-wrapper {
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0.1em 0.1em;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
  margin-left: -1px;
  position: absolute;
  top: 100%;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > .menu-wrapper > .navbar-menu,
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > .navbar-menu {
  max-width: 28em;
  min-width: 22em;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-scrollable {
  max-height: 70vh;
  overflow-y: auto;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-menu ul ul {
  border-bottom: 0.1em solid #ccc;
  border-top: 0.1em solid #ccc;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-2 {
  clear: both;
  float: none;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count {
  display: inline-block;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count span {
  background-color: #85b200;
  border-radius: 1em;
  color: #fff;
  padding: 0 0.35em;
  font-weight: bold;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count.acquia-lift-empty span {
  background-color: #ccc;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-content-variation {
  border-top: 0.1em solid #ccc;
  background-color: #eee;
}

/* Campaign drop-down */
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item {
  margin-top: .7em;
  margin-bottom: .7em;
  padding-top: 0;
  padding-bottom: 0;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-preview-option {
  display: block;
  width: 100%;
  float: left;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign-edit,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-delete,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-rename,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-edit,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-rename,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-delete {
  position: relative;
  display: block;
  float: right;
  text-align: right;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign {
  margin-right: -4.2em;
  padding-right: 4.2em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign-edit {
  width: 4.2em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-preview-option {
  margin-right: -9em;
  padding-right: 9em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-edit {
  width: 2.3em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-delete,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-delete {
  width: 4em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-rename,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-rename {
  width: 4.6em;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-active-container * {
  line-height: 1.3;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-menu-item {
  margin-top: 0.65em;
  margin-bottom: 0.65em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  line-height: 1.3;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-menu-item a {
  display: block;
}

/* Displayed as links within menus */
#navbar-administration .navbar-tray .acquia-lift-menu-link, #navbar-administration .navbar-menu .navbar-menu a.acquia-lift-menu-link {
  color: #29aae1;
}
#navbar-administration .navbar-tray .acquia-lift-menu-link:hover, #navbar-administration .navbar-tray .acquia-lift-menu-link:active {
  color: #007ec0;
}
#navbar-administration .navbar-menu .navbar-menu a.acquia-lift-menu-link:hover, #navbar-administration .navbar-menu .navbar-menu a.acquia-lift-menu-link:active {
  color: #007ec0;
}

/* Create links */
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-create {
  border-top: 0.1em solid #ccc;
  padding: .7em 1.3333em .7em 1.3333em;
}
#navbar-administration .navbar-tray-horizontal .navbar-menu ul li.last {
  padding-top: .6em;
}
#navbar-administration .acquia-lift-variation-add:before,
#navbar-administration .acquia-lift-menu-create:before {
  content: '+';
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0.89982;
  padding-right: 0.2em;
  vertical-align: text-bottom;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-menu ul ul:last-child {
  border-bottom: none;
}

/* General text */
#navbar-administration .navbar-tray .acquia-lift-menu-disabled {
  color: #c6c6c6;
}
#navbar-administration .navbar-tray a.acquia-lift-menu-disabled {
  pointer-events: none;
  cursor: default;
}
#navbar-administration .navbar-tray a.acquia-lift-menu-disabled:hover, #navbar-administration .navbar-tray a.acquia-lift-menu-disabled:active {
  color: #c6c6c6;
}

/* Nested menu uls for data grouping (rather than visual grouping) */
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-menu ul ul.innerMenuList {
  border: none;
  background-color: inherit;
  padding-top: 1em;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-menu ul ul.innerMenuList .navbar-menu-item {
  padding: .5em 1.3333em .5em .2em;
}

/* Additional edit links are only available in horizontal view */
#navbar-administration .navbar-tray-vertical .acquia-lift-campaign-edit, #navbar-administration .navbar-tray-vertical .acquia-lift-variation-delete, #navbar-administration .navbar-tray-vertical .acquia-lift-variation-rename, #navbar-administration .navbar-tray-vertical .acquia-lift-variation-edit, #navbar-administration .navbar-tray-vertical .acquia-lift-goal-rename, #navbar-administration .navbar-tray-vertical .acquia-lift-goal-delete, #navbar-administration .navbar-tray-vertical .acquia-lift-page-variation-toggle {
  display: none !important;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-goal {
  padding-left: .6663em;
}

/**
 * Keep long names compact.
 */
#navbar-administration .acquia-lift-campaign-list,
#navbar-administration .acquia-lift-option-sets-list {
  padding-top: 0.9em;
  padding-bottom: 0.75em;
  min-height: 3em;
}
#navbar-administration .acquia-lift-campaign-list, #navbar-administration .acquia-lift-campaign-list span,
#navbar-administration .acquia-lift-option-sets-list,
#navbar-administration .acquia-lift-option-sets-list span {
  line-height: 1.2em;
}
#navbar-administration .acquia-lift-active-container {
  position: relative;
  display: inline-block;
  word-wrap: normal;
  overflow-x: hidden;
}
#navbar-administration .acquia-lift-active-container::after {
  content: "\02026";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 2em;
  margin-left: -2em;
  text-align: right;
  font-weight: bold;
  background-image: -webkit-linear-gradient(180deg, #fff, #fff 1.1em, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(270deg, #fff, #fff 1.1em, rgba(255, 255, 255, 0) 100%);
  color: rgba(51, 51, 51, 0.6);
}
html[dir="rtl"] #navbar-administration .acquia-lift-active-container::after {
  text-align: left;
  background-image: -webkit-linear-gradient(0deg, #fff, #fff 1.1em, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(90deg, #fff, #fff 1.1em, rgba(255, 255, 255, 0) 100%);
}
#navbar-administration .acquia-lift-active-container, #navbar-administration .acquia-lift-active-container * {
  white-space: pre;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
  max-width: 8em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
  left: 8em;
}
@media screen and (min-width: 1024px) {
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
    max-width: 16em;
  }
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
    left: 16em;
  }
}
@media screen and (min-width: 1366px) {
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
    max-width: 30em;
  }
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
    left: 30em;
  }
  html[dir="rtl"] #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
    right: 30em;
    left: auto;
  }
}
#navbar-administration .navbar-tray-vertical .acquia-lift-active-container {
  max-width: 13em;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-active-container::after {
  left: 13em;
}
html[dir="rtl"] #navbar-administration .navbar-tray-vertical .acquia-lift-active-container::after {
  right: 13em;
  left: auto;
}
