/**
 * @file
 * Styles for administrating personalized fields.
 */

/**
 * Apply basic styling to make the default display better looking.
 */
.personalize-field-navigation {
  display: inline-block;
}

.personalize-field-counter {
  margin: 0 .6em;
}

.personalize-field-previous,
.personalize-field-next {
  margin: 0 .6rem;
}

.personalize-field-previous:before {
  content: "\2190";
}

.personalize-field-next:after {
  content: "\2192";
}

.personalize-field-expand:before,
.personalize-field-collapse:before {
  content: "";
  overflow: hidden;
  display: inline-block;
  width: 0;
  height: 0;
  margin: .25em 0;
}

.personalize-field-expand:before {
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: .55em .35em 0;
}

.personalize-field-collapse:before {
  border-color: transparent transparent #333;
  border-style: solid;
  border-width: 0 .35em .55em;
}

.personalize-field-add:before {
  content: "+";
}

.personalize-field-previous,
.personalize-field-next,
.personalize-field-add,
.personalize-field-expand,
.personalize-field-collapse {
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
}

.personalize-field-previous:before,
.personalize-field-next:after,
.personalize-field-add:before,
.personalize-field-expand:before,
.personalize-field-collapse:before {
  font: 1.2rem/1em Times, serif;
}