/**
 * @file acquia_lift.dialog.css
 */
/* Contextual variation type selection menu */
.acquia-lift-context-menu.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content {
  padding: .75em 0;
}
.acquia-lift-context-menu.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content h2 {
  color: #ffffff;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 .75em .75em .75em;
  margin: 0;
}
.acquia-lift-context-menu.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content ul {
  padding: .75em;
  list-style-type: none;
  margin: 0;
}

/* Variation type form */
.acquia-lift-variation-type-form.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content h2 {
  margin-top: 0;
  color: #ffffff;
}
.acquia-lift-variation-type-form.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content label,
.acquia-lift-variation-type-form.visitor-actions-ui-dialog .visitor-actions-ui-dialog-content .description {
  color: #CCCCCC;
  font-weight: normal;
}

/* Selected item for variation */
.acquia-lift-page-variation-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px solid #008fdc;
}