/* Acquia Lift options form administrative styles */
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style {
    display: inline;
}
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style label {
    margin-right: 10px;
}
/* added selector, decrerase-KO */
.personalize-in-context-link:before,
html.js div.ctools-dropdown a:before  { 
  content: "+";
  font-weight: bold; /* added bold -KO */
  display: inline-block;
  margin-right: .2em; 
  font-size: 1.6em; 
}
/* only need margin-right to push sibling away, adjusted width, min width, added inline block and v align to  all form items and labels -KO */
.acquia-lift-percentage-control .form-item {
  float: left;
  margin-right: 1em; 
  width: 20%; 
  min-width: 200px; 
  display: inline-block; 
  vertical-align: middle; 
}
.acquia-lift-percentage-control .form-item label {
  display: inline-block; 
  vertical-align: middle; 
  margin: 0;
  line-height: 2em; /* balances height of text field so the descriptions align to one another -KO */
}
.acquia-lift-percentage-control .form-item input {
  padding: 2px;
  margin: 0;
}
div.acquia-lift-percentage-rest { /* added selector -KO */
  display: inline-block; 
  vertical-align: middle; 
  margin: 0;
}
.acquia-lift-percentage-rest-label {
  display: inline-block;
  vertical-align: middle; 
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 2em; /* balances height of text field so the descriptions align to one another -KO */
}
.acquia-lift-percentage-rest-display {
  margin: 0 5px;
  vertical-align: middle; /* removes slight misalignment -KO */
}
.acquia-lift-toggle-text { /* removed float and margin because toggle was not discoverable -KO */
  display: inline-block;
  vertical-align: middle; 
  line-height: 2em; /* aligns toggle to the form items -KO */
}

#personalize-acquia-lift-reset {
  display: inline;
}

/* Reports */
.acquia-lift-report-filters div {
  float: left;
  margin-right: 10px;
}

.acquia-lift-report-section {
  margin: 25px 0;
}

.acquia-lift-report-section-title h2 {
  display: inline-block;
  margin-right: .5em; /* LTR */
  margin-bottom: 0;
}

.acquia-lift-report-section-title .acquia-lift-report-controls {
  padding-bottom: 10px;
}

#acquia-lift-overview-report .form-wrapper > div {
  float: left;
  margin-right: 1.4em;
}
#acquia-lift-overview-report .acquia-lift-overview-item {
  font-size: 1.4em;
  font-weight: bold;
  min-height: 24px;
}

/* Reporting: positive/negative indicators. */
#acquia-lift-experiment-report .acquia-lift-report-negative,
#acquia-lift-context-report .acquia-lift-report-negative,
#acquia-lift-stability-report .acquia-lift-report-negative,
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item,
#acquia-lift-experiment-report .acquia-lift-report-positive,
#acquia-lift-context-report .acquia-lift-report-positive,
#acquia-lift-stability-report .acquia-lift-report-positive,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  padding-left: 20px;
}
#acquia-lift-experiment-report .acquia-lift-report-positive,
#acquia-lift-context-report .acquia-lift-report-positive,
#acquia-lift-stability-report .acquia-lift-report-positive,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-image: url(../images/85b200/confirm.png);
  background-image: url(../images/85b200/confirm.svg), none;
}
#acquia-lift-experiment-report .acquia-lift-report-negative,
#acquia-lift-context-report .acquia-lift-report-negative,
#acquia-lift-stability-report .acquia-lift-report-negative,
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item {
  background-image: url(../images/FF8000/alert.png);
  background-image: url(../images/FF8000/alert.svg), none;
}
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-position: left top;
}
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  color: #85B200;
}
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item {
  color: #F7941F;
}

#acquia-lift-context-report td.acquia-lift-report-positive,
#acquia-lift-experiment-report-data td.acquia-lift-report-positive,
#acquia-lift-stability-report-data td.acquia-lift-report-positive {
  color: #85B200;
  font-weight: bold;
}

/* Reporting: content variation special indicators */
#acquia-lift-context-report td.acquia-lift-context-best .acquia-lift-best {
  background-image: url(../images/85b200/confirm.png);
  background-image: url(../images/85b200/confirm.svg), none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
  float: right;
  padding-right: 20px;
}

tr.acquia-lift-report-control {
  background-color: #FAFAEA;
}

/* Reporting: Report heading */
.acquia-lift-report-summary {
  font-style: italic;
}
/* Reporting: Distribution labels */
.acquia-lift-distribution {
  width: 350px;
  font-size: smaller;
}
.acquia-lift-distribution .distribution-set {
  float: left;
}
.acquia-lift-distribution .distribution-rest {
  float: right;
}
.acquia-lift-distribution .distribution-graphic {
  clear: both;
  width: 100%;
  height: .4em;
  background-color: #C961AF;
}
.acquia-lift-distribution .distribution-graphic .fill {
  height: 100%;
  background-color: #85B200;
}

#acquia-lift-experiment-report .acquia-lift-distribution .distribution-graphic {
  background-color: #999;
}
#acquia-lift-experiment-report .acquia-lift-distribution .distribution-rest {
  color: #999;
}
/* Reporting: Header summary */
.acquia-lift-report-header-summary {
  float: left;
}
/* Reporting: Context select */
.acquia-lift-report-controls {
  float: right;
}
.acquia-lift-report-controls .form-type-select label {
  margin: 0;
  display: inline;
}

/* Reporting: High-low goal value display */
.acquia-lift-hilo-estimate {
  width: 200px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  height: 24px;
}
.acquia-lift-hilo-estimate .acquia-lift-hilo-background {
  background-color: #999;
  height: 1px;
  vertical-align: middle;
  position: relative;
  top: 12px;
}
.acquia-lift-hilo-estimate .acquia-lift-hilo-bounds {
  height: 5px;
  overflow: visible;
  background-color: #2FA6E5;
  position: relative;
  top: -2px;
  display: inline-block;
}
.acquia-lift-hilo-estimate .acquia-lift-estimate {
  width: 100%;
  text-align: center;
}
.acquia-lift-hilo-estimate .acquia-lift-badge {
  position: relative;
  background: white;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #2FA6E5;
  padding: 2px 4px;
  font-weight: bold;
}
.acquia-lift-hilo-estimate .acquia-lift-badge {
  top: -12px;
}

/* Reporting: Static bar graphs to show percentage */
.acquia-lift-graph-level-0,
.acquia-lift-graph-level-1,
.acquia-lift-graph-level-2,
.acquia-lift-graph-level-3,
.acquia-lift-graph-level-4,
.acquia-lift-graph-level-5 {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
.acquia-lift-graph-level-0 {
  background-image: url('../images/graph-0.png');
}
.acquia-lift-graph-level-1 {
  background-image: url('../images/graph-1.png');
}
.acquia-lift-graph-level-2 {
  background-image: url('../images/graph-2.png');
}
.acquia-lift-graph-level-3 {
  background-image: url('../images/graph-3.png');
}
.acquia-lift-graph-level-4 {
  background-image: url('../images/graph-4.png');
}
.acquia-lift-graph-level-5 {
  background-image: url('../images/graph-5.png');
}

/* Acquia Lift configuration form */
.acquia-lift-config-minimum-runtime {
    clear: both;
    margin-bottom: .5em;
    width: 100%;
    display: inline-block;
}
.acquia-lift-config-minimum-runtime div.form-item {
    float: left;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-right: 10px;
}

.acquia-lift-config-minimum-runtime div.description {
    clear: both;
}