#navbar-administration.navbar-oriented .navbar-tray-horizontal .acquia-lift-navbar-secondary {
    float: right;
    border-right: none;
}
#navbar-administration .navbar-tray-horizontal .menu .navbar-level-1.acquia-lift-navbar-marker,
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-marker{
    border-right: 1px solid #dddddd; /* LTR */
}

#navbar-administration .navbar-tray-vertical .navbar-level-1.acquia-lift-navbar-secondary {
    border-top: 3px solid #dddddd
}
