/**
 * @file
 * Styles for integrating Personalize with the Navbar module.
 */

/**
 * Personalize top-level icon.
 */
.navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.svg");
}

.no-svg .navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.png");
}

.navbar-bar .navbar-icon-acquia-lift {
  &:active:before, &.navbar-active:before {
    background-image: url("../images/ffffff/rocket.svg");
  }
}

.no-svg .navbar-bar .navbar-icon-acquia-lift {
  &:active:before, &.navbar-active:before {
    background-image: url("../images/ffffff/rocket.png");
  }
}

/**
 * Personalize second-level icon.
 */
.navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.svg");
}

.no-svg .navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.png");
}

#navbar-administration {
  .acquia-lift-active {
    font-weight: bold;
    .acquia-lift-campaign {
      font-weight: bold;
    }
    &.acquia-lift-menu-link {
      font-weight: normal;
    }
  }
  .acquia-lift-campaigns .navbar-box {
    display: inline-block;
    width: 100%;
  }
  .navbar-tray-vertical .acquia-lift-campaigns .navbar-box .acquia-lift-campaign {
    margin-right: 0;
  }
  &.navbar-oriented .acquia-lift-campaign {
    padding-right: 0; /* LTR */
  }
}

/* Menu wrapper container */
#navbar-administration {
  .navbar-tray-vertical .navbar-twisty {
    > .menu-wrapper {
      display: none;
    }
    &.open > .menu-wrapper {
      display: block;
    }
  }
  .acquia-lift-menu-item {
    margin: {
      top: .88em;
      bottom: .88em;
    }
  }
  .navbar-level-1 {
    .menu-wrapper > .#{$menu-class},
    .#{$menu-class} {
      *:not(select) {
        line-height: 1.5;
      }
    }
  }
}

/* Horizontal dropdowns */
#navbar-administration {
  .navbar-tray-acquia-lift.navbar-tray-horizontal {
    .#{$menu-class} li:hover ul {
      display: block;
    }
    .navbar-level-1 > {
      ul, .menu-wrapper {
        border-color: $border-color;
        border-style: solid;
        border-width: 0 $border-size $border-size;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, $shadow-opacity);
        margin-left: -1px;
        position: absolute;
        top: 100%;
      }

      .menu-wrapper > .#{$menu-class},
      .#{$menu-class} {
        max-width: 28em;
        min-width: 22em;
      }
    }
    .acquia-lift-scrollable {
      max-height: 70vh;
      overflow-y: auto;
    }
    .#{$menu-class} ul ul {
      border-bottom: $border-size solid $border-color;
      border-top: $border-size solid $border-color;
    }
    .navbar-level-2 {
      clear: both;
      float: none;
    }
    .acquia-lift-personalize-type-count {
      display: inline-block;
      span {
        background-color: $winner-color;
        border-radius: 1em;
        color: $background-color;
        padding: 0 0.35em;
        font-weight: bold;
      }
      &.acquia-lift-empty span {
        background-color: $border-color;
      }
    }
    .acquia-lift-content-variation {
      border-top: $border-size solid $border-color;
      background-color: $background-color-alternate;
    }
  }
}

/* Campaign drop-down */
#navbar-administration {
  .navbar-tray-horizontal {
    .acquia-lift-menu-item {
      margin: {
        top: .7em;
        bottom: .7em;
      }
      padding: {
        top: 0;
        bottom: 0;
      }
      .acquia-lift-campaign,
      .acquia-lift-preview-option {
        display: block;
        width: 100%;
        float: left;
      }
      .acquia-lift-campaign-edit,
      .acquia-lift-variation-delete,
      .acquia-lift-variation-rename,
      .acquia-lift-variation-edit,
      .acquia-lift-goal-rename,
      .acquia-lift-goal-delete {
        position: relative;
        display: block;
        float: right;
        text-align: right;
      }
      .acquia-lift-campaign {
        margin-right: -4.2em;
        padding-right: 4.2em;
      }
      .acquia-lift-campaign-edit {
        width: 4.2em;
      }
      .acquia-lift-preview-option {
        margin-right: -9em;
        padding-right: 9em;
      }
      .acquia-lift-variation-edit {
        width: 2.3em;
      }
      .acquia-lift-variation-delete,
      .acquia-lift-goal-delete {
        width: 4em;
      }
      .acquia-lift-variation-rename,
      .acquia-lift-goal-rename {
        width: 4.6em;
      }
    }
  }
  .navbar-tray-vertical {
    .acquia-lift-active-container * {
      line-height: 1.3;
    }
    .acquia-lift-menu-item {
      margin: {
        top: (1.3em / 2);
        bottom: (1.3em / 2);
      }
      padding: {
        top: 0;
        bottom: 0;
        left: 0;
      }
      line-height: 1.3;

      a {
        display: block;
      }
    }
  }
}

/* Displayed as links within menus */
#navbar-administration {
  .navbar-tray .acquia-lift-menu-link, .#{$menu-class} .#{$menu-class} a.acquia-lift-menu-link {
    color: #29aae1;
  }
  .navbar-tray .acquia-lift-menu-link {
    &:hover, &:active {
      color: #007ec0;
    }
  }
  .#{$menu-class} .#{$menu-class} a.acquia-lift-menu-link {
    &:hover, &:active {
      color: #007ec0;
    }
  }
}

/* Create links */
#navbar-administration {
  .navbar-tray-horizontal {
    .acquia-lift-menu-create {
      border-top: $border-size solid $border-color;
      padding: .7em 1.3333em .7em 1.3333em;
    }
    .#{$menu-class} ul li.last {
      padding-top: .6em;
    }
  }
  .acquia-lift-variation-add,
  .acquia-lift-menu-create {
    &:before {
      content: '+';
      font-weight: bold;
      font-size: 1.3em;
      line-height: (1.5 / 1.667);
      padding-right: 0.2em;
      vertical-align: text-bottom;
    }
  }
  .navbar-tray-acquia-lift.navbar-tray-horizontal .#{$menu-class} ul ul:last-child {
    border-bottom: none;
  }
}

/* General text */
#navbar-administration {
  .navbar-tray {
    .acquia-lift-menu-disabled {
      color: #c6c6c6;
    }
    a.acquia-lift-menu-disabled {
      pointer-events: none;
      cursor: default;
      &:hover, &:active {
        color: #c6c6c6;
      }
    }
  }
}

/* Nested menu uls for data grouping (rather than visual grouping) */
#navbar-administration {
  .navbar-tray-acquia-lift.navbar-tray-horizontal .#{$menu-class} ul ul.innerMenuList {
    border: none;
    background-color: inherit;
    padding-top: 1em;
    .navbar-menu-item {
      padding: .5em 1.3333em .5em .2em;
    }
  }
}

/* Additional edit links are only available in horizontal view */
#navbar-administration {
  .navbar-tray-vertical {
    .acquia-lift-campaign-edit, .acquia-lift-variation-delete, .acquia-lift-variation-rename, .acquia-lift-variation-edit, .acquia-lift-goal-rename, .acquia-lift-goal-delete, .acquia-lift-page-variation-toggle {
      display: none !important;
    }

    .acquia-lift-goal {
      padding-left: .6663em;
    }
  }
}

/**
 * Keep long names compact.
 */
#navbar-administration {
  .acquia-lift-campaign-list,
  .acquia-lift-option-sets-list {
    padding: {
      top: $navbar-padding-top;
      bottom: $navbar-padding-bottom;
    }
    min-height:  ($navbar-padding-top * 2 + $navbar-line-height);

    &, span {
      line-height: $navbar-line-height;
    }
  }

  .acquia-lift-active-container {
    position: relative;
    display: inline-block;
    word-wrap: normal;
    overflow-x: hidden;

    &::after {
      $ellipsis-width: 2em;
      content: "\02026";
      display: inline-block;
      position: absolute;
      top: 0;
      width: $ellipsis-width;
      margin-left: -$ellipsis-width;
      text-align: right;
      font-weight: bold;
      background-image: linear-gradient(270deg, #fff, #fff 1.1em, rgba(#fff, 0) 100%);
      color: rgba($text-color, $shadow-opacity);

      html[dir="rtl"] & {
        text-align: left;
        background-image: linear-gradient(90deg, #fff, #fff 1.1em, rgba(#fff, 0) 100%);

      }
    }

    &, * {
      white-space: pre;
    }
  }

  .navbar-tray-horizontal {
    .acquia-lift-active-container {
      $width: 8em;
      max-width: $width;

      &::after {
        left: $width;
      }

      @media screen and (min-width: 1024px) {
        $width: 16em;
        max-width: $width;

        &::after {
          left: $width;
        }
      }

      @media screen and (min-width: 1366px) {
        $width: 30em;
        max-width: $width;

        &::after {
          left: $width;

          html[dir="rtl"] & {
            right: $width;
            left: auto;
          }
        }
      }
    }
  }

  .navbar-tray-vertical {
    .acquia-lift-active-container {
      $width: 13em;
      max-width: $width;

      &::after {
        left: $width;

        html[dir="rtl"] & {
          right: $width;
          left: auto;
        }
      }
    }
  }
}
