/**
 * @file
 * Style elements that have tooltip information available.
 */

.acquia-lift-help {
  position: relative;
  top: -.16em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-left: .5em;
  font-size: .88em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #47aade;
  cursor: pointer;

  html[dir="rtl"] & {
    margin: {
      right: .4em;
      left: auto;
    }
  }

  &:before {
    content: "?";
  }
}
